.fnt-bodoni {
    font-family: 'Bodoni Moda', 'Libre Bodoni', serif;
}

.fnt-gothic {
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "Yu Gothic", 'Noto Sans JP', "ヒラギノ角ゴシック ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.fnt-notosan {
    font-family: 'Noto Sans JP', "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴシック ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.fnt-notoserif {
    font-family: 'Noto Serif JP', "游明朝", "Yu Mincho", "游明朝体", YuMincho, "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

.fnt-roboto {
    font-family: 'Roboto', sans-serif !important;
}

.fnt-vn {
    font-family: 'Roboto', sans-serif;
}

a[href*="tel:"] {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

a.item:hover {
    opacity: .7;
}

a:link {
    text-underline-offset: 5px;
}

/* ▽ SP layout ========== */
@media only screen and (max-width: 767px) {
    a[href*="tel:"] {
        pointer-events: auto;
        cursor: pointer;
    }
}

/* ========== end △ */
/* ▽ SP layout ========== */
@media only screen and (max-width: 767px) {
    body img {
        max-width: 100%;
    }
}

/* ========== end △ */
/* ==================================================
	basic layout
================================================== */
#wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    overflow: hidden;
    font-size: 16px;
    font-weight: var(--regular);
    min-width: 320px;
}

@media (max-width: 767px) {
    #wrapper {
        font-size: 15px;
    }
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow-y: auto;
    line-height: normal;
}

body {
    line-height: 1.8;
    font-family: 'Noto Sans JP', "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴシック ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color: #4d4d4d;
}

img {
    vertical-align: top;
    margin: 0px;
    padding: 0px;
    border: 0px;
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}

.ov_hover:hover img {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha( opacity=70)";
}

a {
    color: #4d4d4d;
    text-decoration: underline;
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

a:hover {
    text-decoration: none;
}

/* サイト幅
-------------------------------------------------- */
.container, .container02 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

/* ▽ PC-TAB layout ========== */
@media print, screen and (min-width: 768px) {
    .container {
        max-width: 1168px;
        margin: 0 auto;
    }

    .container02 {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* ========== end △ */
/* ▽ SP layout ========== */
@media only screen and (max-width: 767px) {
    .container, .container02 {
        width: 100%;
        padding: 0 2%;
    }
}

/* ========== end △ */
/*====================================================================================
■02.CLEAR FLOAT
====================================================================================*/
.clearfix {
    display: inline-block;
}

.clearfix:after {
    clear: both;
    display: block;
    content: " ";
    height: 0px;
    visibility: hidden;
}

/* Hide these rules from IE-mac \*/
* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

/*====================================================================================
■03.MARGIN DEFAULT
====================================================================================*/
/* margin */
.mat {
    margin: auto !important;
}

.m00 {
    margin: 0px !important;
}

.m05 {
    margin: 5px !important;
}

.m10 {
    margin: 10px !important;
}

.m15 {
    margin: 15px !important;
}

.m20 {
    margin: 20px !important;
}

.m25 {
    margin: 25px !important;
}

.m30 {
    margin: 30px !important;
}

.m35 {
    margin: 35px !important;
}

.m40 {
    margin: 40px !important;
}

.m45 {
    margin: 45px !important;
}

.m50 {
    margin: 50px !important;
}

.m55 {
    margin: 55px !important;
}

.m60 {
    margin: 60px !important;
}

.m65 {
    margin: 65px !important;
}

.m70 {
    margin: 70px !important;
}

.m75 {
    margin: 75px !important;
}

.m80 {
    margin: 80px !important;
}

.m85 {
    margin: 85px !important;
}

.m90 {
    margin: 90px !important;
}

.mt00 {
    margin-top: 0px !important;
}

.mt05 {
    margin-top: 5px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt15 {
    margin-top: 15px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt25 {
    margin-top: 25px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.mt35 {
    margin-top: 35px !important;
}

.mt40 {
    margin-top: 40px !important;
}

.mt45 {
    margin-top: 45px !important;
}

.mt50 {
    margin-top: 50px !important;
}

.mt55 {
    margin-top: 55px !important;
}

.mt60 {
    margin-top: 60px !important;
}

.mt65 {
    margin-top: 65px !important;
}

.mt70 {
    margin-top: 70px !important;
}

.mt75 {
    margin-top: 75px !important;
}

.mt80 {
    margin-top: 80px !important;
}

.mt85 {
    margin-top: 85px !important;
}

.mt90 {
    margin-top: 90px !important;
}

.mr00 {
    margin-right: 0px !important;
}

.mr05 {
    margin-right: 5px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mr15 {
    margin-right: 15px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.mr25 {
    margin-right: 25px !important;
}

.mr30 {
    margin-right: 30px !important;
}

.mr35 {
    margin-right: 35px !important;
}

.mr40 {
    margin-right: 40px !important;
}

.mr45 {
    margin-right: 45px !important;
}

.mr50 {
    margin-right: 50px !important;
}

.mr55 {
    margin-right: 55px !important;
}

.mr60 {
    margin-right: 60px !important;
}

.mr65 {
    margin-right: 65px !important;
}

.mr70 {
    margin-right: 70px !important;
}

.mr75 {
    margin-right: 75px !important;
}

.mr80 {
    margin-right: 80px !important;
}

.mr85 {
    margin-right: 85px !important;
}

.mr90 {
    margin-right: 90px !important;
}

.mb00 {
    margin-bottom: 0px !important;
}

.mb05 {
    margin-bottom: 5px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb25 {
    margin-bottom: 25px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mb35 {
    margin-bottom: 35px !important;
}

.mb40 {
    margin-bottom: 40px !important;
}

.mb45 {
    margin-bottom: 45px !important;
}

.mb50 {
    margin-bottom: 50px !important;
}

.mb55 {
    margin-bottom: 55px !important;
}

.mb60 {
    margin-bottom: 60px !important;
}

.mb65 {
    margin-bottom: 65px !important;
}

.mb70 {
    margin-bottom: 70px !important;
}

.mb75 {
    margin-bottom: 75px !important;
}

.mb80 {
    margin-bottom: 80px !important;
}

.mb85 {
    margin-bottom: 85px !important;
}

.mb90 {
    margin-bottom: 90px !important;
}

.ml00 {
    margin-left: 0px !important;
}

.ml05 {
    margin-left: 5px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.ml15 {
    margin-left: 15px !important;
}

.ml20 {
    margin-left: 20px !important;
}

.ml25 {
    margin-left: 25px !important;
}

.ml30 {
    margin-left: 30px !important;
}

.ml35 {
    margin-left: 35px !important;
}

.ml40 {
    margin-left: 40px !important;
}

.ml45 {
    margin-left: 45px !important;
}

.ml50 {
    margin-left: 50px !important;
}

.ml55 {
    margin-left: 55px !important;
}

.ml60 {
    margin-left: 60px !important;
}

.ml65 {
    margin-left: 65px !important;
}

.ml70 {
    margin-left: 70px !important;
}

.ml75 {
    margin-left: 75px !important;
}

.ml80 {
    margin-left: 80px !important;
}

.ml85 {
    margin-left: 85px !important;
}

.ml90 {
    margin-left: 90px !important;
}

/* margin */
/* padding */
.p00 {
    padding: 0px !important;
}

.p05 {
    padding: 5px !important;
}

.p10 {
    padding: 10px !important;
}

.p15 {
    padding: 15px !important;
}

.p20 {
    padding: 20px !important;
}

.p25 {
    padding: 25px !important;
}

.p30 {
    padding: 30px !important;
}

.p35 {
    padding: 35px !important;
}

.p40 {
    padding: 40px !important;
}

.p45 {
    padding: 45px !important;
}

.p50 {
    padding: 50px !important;
}

.p55 {
    padding: 55px !important;
}

.p60 {
    padding: 60px !important;
}

.p65 {
    padding: 65px !important;
}

.p70 {
    padding: 70px !important;
}

.p75 {
    padding: 75px !important;
}

.p80 {
    padding: 80px !important;
}

.p85 {
    padding: 85px !important;
}

.p90 {
    padding: 90px !important;
}

.pt00 {
    padding-top: 0px !important;
}

.pt05 {
    padding-top: 5px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pt15 {
    padding-top: 15px !important;
}

.pt20 {
    padding-top: 20px !important;
}

.pt25 {
    padding-top: 25px !important;
}

.pt30 {
    padding-top: 30px !important;
}

.pt35 {
    padding-top: 35px !important;
}

.pt40 {
    padding-top: 40px !important;
}

.pt45 {
    padding-top: 45px !important;
}

.pt50 {
    padding-top: 50px !important;
}

.pt55 {
    padding-top: 55px !important;
}

.pt60 {
    padding-top: 60px !important;
}

.pt65 {
    padding-top: 65px !important;
}

.pt70 {
    padding-top: 70px !important;
}

.pt75 {
    padding-top: 75px !important;
}

.pt80 {
    padding-top: 80px !important;
}

.pt85 {
    padding-top: 85px !important;
}

.pt90 {
    padding-top: 90px !important;
}

.pr00 {
    padding-right: 0px !important;
}

.pr05 {
    padding-right: 5px !important;
}

.pr10 {
    padding-right: 10px !important;
}

.pr15 {
    padding-right: 15px !important;
}

.pr20 {
    padding-right: 20px !important;
}

.pr25 {
    padding-right: 25px !important;
}

.pr30 {
    padding-right: 30px !important;
}

.pr35 {
    padding-right: 35px !important;
}

.pr40 {
    padding-right: 40px !important;
}

.pr45 {
    padding-right: 45px !important;
}

.pr50 {
    padding-right: 50px !important;
}

.pr55 {
    padding-right: 55px !important;
}

.pr60 {
    padding-right: 60px !important;
}

.pr65 {
    padding-right: 65px !important;
}

.pr70 {
    padding-right: 70px !important;
}

.pr75 {
    padding-right: 75px !important;
}

.pr80 {
    padding-right: 80px !important;
}

.pr85 {
    padding-right: 85px !important;
}

.pr90 {
    padding-right: 90px !important;
}

.pb00 {
    padding-bottom: 0px !important;
}

.pb05 {
    padding-bottom: 5px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}

.pb15 {
    padding-bottom: 15px !important;
}

.pb20 {
    padding-bottom: 20px !important;
}

.pb25 {
    padding-bottom: 25px !important;
}

.pb30 {
    padding-bottom: 30px !important;
}

.pb35 {
    padding-bottom: 35px !important;
}

.pb40 {
    padding-bottom: 40px !important;
}

.pb45 {
    padding-bottom: 45px !important;
}

.pb50 {
    padding-bottom: 50px !important;
}

.pb55 {
    padding-bottom: 55px !important;
}

.pb60 {
    padding-bottom: 60px !important;
}

.pb65 {
    padding-bottom: 65px !important;
}

.pb70 {
    padding-bottom: 70px !important;
}

.pb75 {
    padding-bottom: 75px !important;
}

.pb80 {
    padding-bottom: 80px !important;
}

.pb85 {
    padding-bottom: 85px !important;
}

.pb90 {
    padding-bottom: 90px !important;
}

.pl00 {
    padding-left: 0px !important;
}

.pl05 {
    padding-left: 5px !important;
}

.pl10 {
    padding-left: 10px !important;
}

.pl15 {
    padding-left: 15px !important;
}

.pl20 {
    padding-left: 20px !important;
}

.pl25 {
    padding-left: 25px !important;
}

.pl30 {
    padding-left: 30px !important;
}

.pl35 {
    padding-left: 35px !important;
}

.pl40 {
    padding-left: 40px !important;
}

.pl45 {
    padding-left: 45px !important;
}

.pl50 {
    padding-left: 50px !important;
}

.pl55 {
    padding-left: 55px !important;
}

.pl60 {
    padding-left: 60px !important;
}

.pl65 {
    padding-left: 65px !important;
}

.pl70 {
    padding-left: 70px !important;
}

.pl75 {
    padding-left: 75px !important;
}

.pl80 {
    padding-left: 80px !important;
}

.pl85 {
    padding-left: 85px !important;
}

.pl90 {
    padding-left: 90px !important;
}

/* padding */
/* font */
.f10 {
    font-size: 10px !important;
}

.f11 {
    font-size: 11px !important;
}

.f12 {
    font-size: 12px !important;
}

.f13 {
    font-size: 13px !important;
}

.f14 {
    font-size: 14px !important;
}

.f15 {
    font-size: 15px !important;
}

.f16 {
    font-size: 16px !important;
}

.f17 {
    font-size: 17px !important;
}

.f18 {
    font-size: 18px !important;
}

.f19 {
    font-size: 19px !important;
}

.f20 {
    font-size: 20px !important;
}

.f21 {
    font-size: 21px !important;
}

.f22 {
    font-size: 22px !important;
}

.f23 {
    font-size: 23px !important;
}

.f24 {
    font-size: 24px !important;
}

/*■05.FLEX*/
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* Safari */
    display: -moz-flex;
    /* Firefox */
    display: -ms-flex;
    /* IE */
}

/*justify-content*/
.flex_jus_start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
}

.flex_jus_end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
}

.flex_jus_center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
}

.flex_jus_between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between !important;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
}

.flex_jus_around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
}

.flex_jus_ini {
    -webkit-box-pack: initial;
    -ms-flex-pack: initial;
    justify-content: initial;
    -webkit-justify-content: initial;
    -moz-justify-content: initial;
    -ms-justify-content: initial;
}

/*align-items*/
.flex_align_item_start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
}

.flex_align_item_end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
}

.flex_align_item_stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
}

.flex_align_item_baseline {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    -ms-align-items: baseline;
}

.flex_align_item_center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
}

.flex_align_item_ini {
    -webkit-box-align: initial;
    -ms-flex-align: initial;
    align-items: initial;
    -webkit-align-items: initial;
    -moz-align-items: initial;
    -ms-align-items: initial;
}

.flex_container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/*====================================================================================
■06.OTHER
====================================================================================*/
.text-normal {
    font-weight: normal;
}

.text-bold {
    font-weight: bold;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-underline {
    text-decoration: underline;
}

.text-none-underline {
    text-decoration: none !important;
}

.font14 {
    font-size: 14px;
}

.font11 {
    font-size: 11px;
}

.add_font {
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴシック ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.add_font2 {
    font-family: 'Oswald', sans-serif;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.media, .media-body {
    overflow: hidden;
}

.media > .pull-left {
    margin-right: 20px;
}

.media > .pull-right {
    margin-left: 20px;
}

.media-text:after {
    clear: both;
    display: block;
    content: "";
    height: 0px;
    visibility: hidden;
}

/*====================================================================================
■07.PAGE UP
====================================================================================*/
footer .page_up {
    position: fixed;
    right: -550px;
    bottom: 120px;
    z-index: 999;
    background-color: #eef9ff;
    color: #fff;
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 100%;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    border: 1px solid var(--c-primary);
}

footer .page_up::after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 1px solid var(--c-primary);
    border-right: 1px solid var(--c-primary);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

footer .page_up:hover {
    background-color: var(--c-blue);
}

/* ▽ SP layout ========== */
@media only screen and (max-width: 767px) {
    footer .page_up {
        bottom: 90px !important;
    }

    footer .page_up a {
        display: block;
    }
}

/* ========== end △ */
/*==========================================
■8.Title cm
====================================================================================*/
h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/*
==============================
custome css
==============================
*/
:root {
    --shadow: 4.243px 4.243px 4px 0px rgba(0, 0, 0, 0.1), 0px 2px 24px 0px rgba(29, 66, 111, 0.2);
    --radius: 10px;
    --regular: 400;
    --medium: 500;
    --bold: 700;
    --fz18: 18px;
    --fz20: 20px;
    --c-primary: #53b5ed;
    --bg-linear: linear-gradient(to left, #6695f4, #53b5ed, #73c9b0);
}

@media (max-width: 767px) {
    :root {
        --fz18: 15px;
        --fz20: 18px;
    }
}

.c_primary {
    color: var(--c-primary);
}

.fz18 {
    font-size: var(--fz18);
}

.fz20 {
    font-size: var(--fz20);
}

.sp {
    display: none;
}

.c_53b5ed {
    color: #53b5ed;
}

@media (max-width: 767px) {
    .sp {
        display: block;
    }

    .pc {
        display: none;
    }
}

[data-lightbox] {
    position: relative;
    z-index: 1;
    display: block;
}

[data-lightbox]::after {
    content: '';
    background: url(../images/common/zoom.png) no-repeat center center/contain;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (min-width: 768px) {
    [data-lightbox]::after {
        display: none;
    }
}

figure {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.shadow {
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}

.line-text {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 248, 64, 0.6)), to(rgba(255, 248, 64, 0.6))) no-repeat center bottom/100% 10px;
    background: linear-gradient(rgba(255, 248, 64, 0.6), rgba(255, 248, 64, 0.6)) no-repeat center bottom/100% 10px;
    display: inline;
}

/* =====================================header=====================================*/
[class*="fa-"] {
    font-family: 'fontawesome';
    font-style: normal;
}

[class*="fa-"]::before {
    color: currentColor;
}

.hamburger {
    position: relative;
    z-index: 1;
    width: 50px;
    margin-left: auto;
}

.hamburger .close {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.hamburger.open .close {
    opacity: 1;
}

.logo {
    display: table;
    margin-left: auto;
    margin-right: auto;
    max-width: 410px;
    width: 100%;
    text-align: center;
}

.logo a {
    text-decoration: none;
}

.logo span {
    display: block;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#B3B7B9), to(#B3B7B9)) no-repeat center left/125px 1px, -webkit-gradient(linear, left top, left bottom, from(#B3B7B9), to(#B3B7B9)) no-repeat center right/125px 1px;
    background: linear-gradient(#B3B7B9, #B3B7B9) no-repeat center left/125px 1px, linear-gradient(#B3B7B9, #B3B7B9) no-repeat center right/125px 1px;
    font-family: 'Noto Serif JP', "游明朝", "Yu Mincho", "游明朝体", YuMincho, "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    letter-spacing: 0.1em;
}

.logo a:hover span {
    background-image: linear-gradient(var(--c-primary), var(--c-primary)), linear-gradient(var(--c-primary), var(--c-primary));
}

.language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: -10px;
    right: 0;
}

.language a {
    width: 50px;
    text-align: center;
    border-left: 1px solid #B2B7B9;
    line-height: 24px;
    text-transform: uppercase;
}

.language li:last-child {
    border-right: 1px solid #B2B7B9;
}

.language a.active, .language a:hover {
    background-color: #666;
    color: #fff;
}

@media (max-width: 767px) {
    .language {
        top: auto;
        right: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #fff;
        display: none;
    }

    .language a {
        width: 100px;
        line-height: 40px;
    }

    .logo span {
        letter-spacing: 0;
    }
}

#header {
    --logo-width-sp: 50%;
    position: relative;
    z-index: 98;
    padding-top: 30px;
    background: url("../images/common/bg_mv.png") no-repeat center top;
    background-size: cover;
}

#header .container {
    position: relative;
    z-index: 98;
}

#header a {
    text-decoration: none;
    display: block;
}

#header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 410px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    #header nav ul {
        margin-top: 30px;
        padding-bottom: 40px;
    }

    #header nav a {
        background: var(--bg-linear);
        background-size: 0 1px;
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    .page-top #header nav a {
        margin-left: 24px;
        margin-right: 24px;
    }

    #header nav a:hover {
        background-size: 100% 1px;
    }
}

#header #gnav .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-size: 12px;
}

#header #gnav .info a {
    display: inline-block;
}

#header #gnav .info p {
    margin-left: 10px;
}

#header #gnav .info p > span {
    background-color: var(--c-primary);
    border-radius: 2px;
    padding: 2px 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    line-height: 1;
    margin-right: 5px;
}

@media (max-width: 767px) {
    #header {
        background-size: contain;
        padding-top: 0;
    }

    #header .inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    #header .inner {
        padding: 10px 0;
    }

    #header .left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: calc(100% - 50px);
    }

    #header .left .logo {
        width: calc(100% - 60px);
    }

    #header .left .logo a {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    #header .left .logo img {
        width: 40%;
        max-width: 50px;
    }

    #header .left .logo span {
        font-size: 12px;
        background-size: 25px 1px;
        letter-spacing: -0.05em !important;
    }

    #header #gnav {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        padding-top: 70px;
        background-color: #666;
        display: none;
        padding-bottom: 20px;
    }

    #header #gnav nav ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 20px;
    }

    #header #gnav nav a {
        color: #fff;
        padding: 10px 2%;
        border-bottom: 1px solid currentColor;
    }
}

@media (min-width: 1024px) {

    body:not(.page-top) #header .left {
        max-width: 290px;
        width: 100%;
    }

    body:not(.page-top) #header .right {
        width: calc(100% - 320px);
    }
}

@media (min-width: 768px) {
    body:not(.page-top) #header {
        background: none;
        padding-top: 0;
    }

    body:not(.page-top) #header .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    body:not(.page-top) #header .logo {
        width: 100%;
    }

    body:not(.page-top) #header .logo a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    body:not(.page-top) #header .logo a img {
        width: 60px;
        height: auto;
        margin-right: 15px;
    }

    body:not(.page-top) #header .logo a span {
        width: 220px;
        background-size: 40px 1px;
    }

    body:not(.page-top) #header nav ul {
        margin-top: 0;
        padding-bottom: 0;
        width: 100%;
        max-width: inherit;
    }

    body #header nav ~ .btn {
        display: none;
    }

    /* body:not(.page-top) #header nav > * {
      margin-left: 20px;
    } */
    body:not(.page-top) #header .inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        justify-content: space-between;
        padding-top: 15px;
        padding-bottom: 15px;
        width: calc(100% - 120px);
    }

    body:not(.page-top) #header .language {
        position: unset;
    }
}

body:not(.page-top) #mainvisual {
    background: url("../images/common/mv.jpg");
    height: 144px;
    background-repeat: no-repeat;
    background-size: cover;
}

body:not(.page-top) #mainvisual .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

body:not(.page-top) #mainvisual h1 {
    font-size: 32px;
    font-family: 'Noto Serif JP', "游明朝", "Yu Mincho", "游明朝体", YuMincho, "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

@media (max-width: 767px) {
    body:not(.page-top) #header {
        background: none;
    }

    body:not(.page-top) #mainvisual h1 {
        font-size: 20px;
    }
}

#mainvisual {
    text-align: center;
    position: relative;
    z-index: 5;
}

#breadcrumb {
    margin-top: -35px;
    position: relative;
    z-index: 100;
}

@media (min-width: 768px) and (max-width: 1167px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* =====================================button=====================================*/
.btn {
    display: table;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    width: 80%;
}

.btn.btn-left {
    margin-left: 0;
}

.btn.btn-right {
    margin-right: 0;
}

.btn a {
    display: block;
    border-radius: 999px;
    background: var(--bg-linear);
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: #53b5ed;
    font-weight: 700;
    text-align: center;
    font-size: 24px;
    padding: 15px;
}

.btn a::after {
    content: '';
    background-color: #fff;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    position: absolute;
    border-radius: 999px;
    z-index: -1;
    -webkit-transition: .3s;
    transition: .3s;
}

.btn a:hover::after {
    opacity: .8;
}

@media (max-width: 767px) {
    .btn a {
        font-size: 18px;
    }
}

/* =====================================title=====================================*/
.ttlh2 {
    text-align: center;
    margin-bottom: 45px;
}

.ttlh2 span {
    display: block;
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
}

@media (max-width: 767px) {
    .ttlh2 {
        margin-bottom: 25px;
    }

    .ttlh2 span {
        font-size: 18px;
        margin-top: 5px;
    }

    .ttlh2 img {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

/* =====================================breadcrumb=====================================*/
#breadcrumb .nav-breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    margin-bottom: 50px;
}

#breadcrumb li {
    font-size: 13px;
    margin-right: 10px;
    position: relative;
    padding-left: 15px;
}

#breadcrumb li:first-child {
    color: #252658;
    text-align: left;
    font-weight: normal;
    padding-left: 0;
}

#breadcrumb li:first-child a {
    color: currentColor;
}

#breadcrumb li::before {
    content: "\f105";
    margin-right: 6px;
    font-size: 15px;
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

#breadcrumb li:first-of-type::before {
    display: none;
}

#breadcrumb li a {
    text-decoration: none;
    font-weight: 500;
}

#breadcrumb li a:hover {
    text-decoration: underline;
}

@media (max-width: 767px) {
    #breadcrumb {
        display: none;
    }
}

/* =====================================footer=====================================*/
#footer {
    border-top: 1px solid #eee;
    padding-top: 50px;
    padding-bottom: 40px;
}

#footer nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#footer nav ul li {
    margin-left: 20px;
    margin-right: 20px;
    transition: .5s;
}

#footer nav ul li a {
    text-decoration: none;
    background: var(--bg-linear) no-repeat center bottom/0 1px;
    color: #4d4d4d;
}

#footer nav ul a:hover {
    background-size: 100% 1px;
}

#footer .btn {
    margin-top: 40px;
    margin-bottom: 70px;
}

#footer .btn a {
    font-size: 16px;
}

#footer .logo {
    margin-bottom: 40px;
}

#footer address {
    text-align: center;
}

@media (max-width: 767px) {
    #footer .logo span {
        background-size: 110px 1px;
    }

    #footer {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    #footer nav ul {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    #footer nav ul li {
        min-width: 50%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
    }

    #footer .btn {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    #footer .logo img {
        width: 90px;
    }
}

.cart {
    display: none;
}

.hamburger {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: visible;
    margin: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
    overflow: hidden;
    color: #fff;
    background: var(--bg-linear);
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.hamburger .hamburger-box {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 23px;
    background: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor)) no-repeat center center/100% 2px;
    background: linear-gradient(currentColor, currentColor) no-repeat center center/100% 2px;
    -webkit-transition: .15s;
    transition: .15s;
}

.hamburger .hamburger-inner:before,
.hamburger .hamburger-inner:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    background-color: currentColor;
}

.hamburger .hamburger-inner::before {
    top: 0;
    left: 0;
    -webkit-transition: top 0.05s linear 0.125s, left 0.125s ease-in 0.175s, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    transition: top 0.05s linear 0.125s, left 0.125s ease-in 0.175s, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.125s, left 0.125s ease-in 0.175s;
    transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.125s, left 0.125s ease-in 0.175s, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.hamburger .hamburger-inner::after {
    top: 20px;
    left: 0;
    -webkit-transition: top 0.05s linear 0.125s, right 0.125s ease-in 0.175s, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    transition: top 0.05s linear 0.125s, right 0.125s ease-in 0.175s, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.125s, right 0.125s ease-in 0.175s;
    transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.125s, right 0.125s ease-in 0.175s, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.hamburger.open .hamburger-box {
    background-size: 0 2px;
}

.hamburger.open .hamburger-inner::before {
    top: -70px;
    width: 100%;
    left: -80px;
    -webkit-transition: left 0.125s ease-out, top 0.05s linear 0.125s, -webkit-transform 0.125s cubic-bezier(0.075, 0.82, 0.165, 1) 0.175s;
    transition: left 0.125s ease-out, top 0.05s linear 0.125s, -webkit-transform 0.125s cubic-bezier(0.075, 0.82, 0.165, 1) 0.175s;
    transition: left 0.125s ease-out, top 0.05s linear 0.125s, transform 0.125s cubic-bezier(0.075, 0.82, 0.165, 1) 0.175s;
    transition: left 0.125s ease-out, top 0.05s linear 0.125s, transform 0.125s cubic-bezier(0.075, 0.82, 0.165, 1) 0.175s, -webkit-transform 0.125s cubic-bezier(0.075, 0.82, 0.165, 1) 0.175s;
    -webkit-transform: translate3d(80px, 80px, 0) rotate(45deg);
    transform: translate3d(80px, 80px, 0) rotate(45deg);
}

.hamburger.open .hamburger-inner::after {
    top: -70px;
    left: auto;
    right: -80px;
    width: 100%;
    -webkit-transition: right 0.125s ease-out, top 0.05s linear 0.125s, -webkit-transform 0.125s cubic-bezier(0.075, 0.82, 0.165, 1) 0.175s;
    transition: right 0.125s ease-out, top 0.05s linear 0.125s, -webkit-transform 0.125s cubic-bezier(0.075, 0.82, 0.165, 1) 0.175s;
    transition: right 0.125s ease-out, top 0.05s linear 0.125s, transform 0.125s cubic-bezier(0.075, 0.82, 0.165, 1) 0.175s;
    transition: right 0.125s ease-out, top 0.05s linear 0.125s, transform 0.125s cubic-bezier(0.075, 0.82, 0.165, 1) 0.175s, -webkit-transform 0.125s cubic-bezier(0.075, 0.82, 0.165, 1) 0.175s;
    -webkit-transform: translate3d(-80px, 80px, 0) rotate(-45deg);
    transform: translate3d(-80px, 80px, 0) rotate(-45deg);
}

@media (max-width: 767px) {
    body.is-nav .opacity0 {
        opacity: 0;
    }

    .hamburger {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .cart {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background: var(--bg-linear);
        border-radius: 100%;
        width: 50px;
        height: 50px;
        margin-right: 5px;
        position: relative;
        z-index: 1;
    }

    .cart img {
        width: 25px;
        height: auto;
    }

    .cart .cart-number {
        position: absolute;
        background-color: #dd1c1a;
        color: #fff;
        top: 6px;
        right: 6px;
        font-size: 8px;
        font-weight: 700;
        width: 15px;
        height: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-radius: 100%;
    }

    .btn-language {
        background: var(--bg-linear);
        width: 50px;
        height: 50px;
        border-radius: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .btn-language img {
        width: 25px;
    }
}

.sec_page {
    padding-top: 100px;
}

.sec_page .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    gap: 48px;
    flex-wrap: wrap;
    justify-content: start;
}

.sec_page .inner a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    width: 48%;
    max-width: 350px;
    border: 1px solid #D4D4D4;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: -webkit-gradient(linear, left top, left bottom, from(var(--c-primary)), to(var(--c-primary))) no-repeat center left/24px 1px;
    background: linear-gradient(var(--c-primary), var(--c-primary)) no-repeat center left/24px 1px;
}

.sec_page .inner a figure {
    width: 40%;
}

.sec_page .inner a figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sec_page .inner a span {
    padding-left: 40px;
    -webkit-transition: .3s;
    transition: .3s;
}

.sec_page .inner a:hover {
    opacity: .7;
    background-position: center left 100%;
    background-size: 0 1px;
}

@media (max-width: 767px) {
    .sec_page {
        padding-top: 50px;
    }

    .sec_page .inner {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 4%;
    }

    .sec_page .inner a {
        margin-bottom: 4%;
        width: 100%;
    }

    .sec_page .inner a span {
        padding-left: 30px;
    }

    .sec_page .inner a span br {
        display: none;
    }

    .side-bar .sec_page .inner a span br {
        display: block;
    }

    .sec_page .inner a img {
        width: 60px;
    }
}

.sec_instagram {
    padding-top: 130px;
    padding-bottom: 100px;
}

.sec_instagram .ttlh2 {
    margin-bottom: 30px;
}

.sec_instagram .ttlh2 a {
    text-decoration: none;
}

.sec_instagram .ttlh2 a:hover {
    opacity: .7;
}

.sec_instagram #sbi_images .sbi_item .sbi_photo_wrap .sbi_photo {
    max-width: 192px !important;
    max-height: 192px !important;
}

.sec_instagram .s5_slider .item, .sec_instagram #sbi_images .sbi_item {
    text-decoration: none;
}

.sec_instagram .s5_slider .item:hover, .sec_instagram #sbi_images .sbi_item:hover {
    opacity: .7;
}

@media (max-width: 767px) {
    .sec_instagram {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .sec_instagram .s5_slider, .sec_instagram #sbi_images {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 2%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 2% !important;
        padding-right: 2% !important;
    }

    .sec_instagram .s5_slider .item, .sec_instagram #sbi_images .sbi_item {
        width: calc(96% / 3) !important;
        margin-bottom: 2% !important;
    }
}

.table {
    display: table;
}

.m-auto {
    margin: auto;
}

/* base vn */
body {
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 768px) and (max-width: 1024px) {
    body:not(.page-top) #header nav ul {
        margin-top: 10px;
        width: 100%;
        max-width: inherit;
    }

    /* body:not(.page-top) #header nav > * {
      margin-left: 24px;
    } */
    body:not(.page-top) #header .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    body:not(.page-top) #header .inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    body:not(.page-top) #header .language {
        position: absolute;
        top: 20px;
        right: 10px;
    }
}

#header nav ul {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
}

/* #header nav a {
  margin: 0 20px;
} */

@media (min-width: 768px) and (max-width: 999px) {
    #header nav a {
        margin: 0 15px;
        white-space: nowrap;
    }
}

@media (max-width: 767px) {
    #header nav ul {
        max-width: inherit;
    }

    #header nav a {
        margin: 0;
    }
}

#footer nav ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
}

#footer nav li {
    margin-bottom: 10px;
}
