.underline {
    text-decoration: underline !important;
}

.underline:hover {
    text-decoration: none !important;
}

form {
    margin-top: 45px;
}

form .black {
    color: #000;
}

form .block {
    display: block;
}

form #note {
    height: 100px;
    resize: none;
}

form .radio-item {
    line-height: 1;
    position: relative;
}

form .radio-item input[type="radio"] {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
}

form .radio-item input[type="radio"] + label {
    color: #000;
    cursor: pointer;
    font-size: 14px;
    padding: 7px 0 7px 26px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

form .radio-item input[type="radio"] + label:before {
    background: #fff;
    border: 1px solid #aeaeae;
    border-radius: 100%;
    content: "";
    height: 15px;
    left: 0;
    position: absolute;
    top: 4px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 15px;
}

form .radio-item input[type="radio"] + label:after {
    background: #000;
    border-radius: 100%;
    content: "";
    display: none;
    height: 9px;
    left: 3px;
    position: absolute;
    top: 7px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 9px;
}

form .radio-item input[type="radio"]:checked + label:after {
    display: block;
}

form #forOther {
    background-color: transparent;
}

form #itemOther + label {
    width: 120px;
}

form #zip {
    width: 145px !important;
}

form .hissu {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    vertical-align: top;
    width: 36px;
    font-weight: 700;
    background: var(--c-primary);
}

form .ninni {
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    vertical-align: top;
    width: 36px;
    font-weight: 700;
    color: var(--c-primary);
    border: 1px solid currentColor;
}

form .tbl-contact {
    margin-bottom: 55px;
}

form .tbl-contact dl {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #D2D2D2;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    box-sizing: border-box;
}

form .tbl-contact dl > * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
}

form .tbl-contact dl dt {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-weight: normal;
    letter-spacing: 0;
    width: 25%;
    color: #000;
    padding-left: 20px;
    position: relative;
    z-index: 1;
}

form .tbl-contact dl dt::after {
    content: '';
    border-top: 1px solid var(--c-primary);
    position: absolute;
    z-index: 2;
    bottom: -1px;
    width: 100%;
    left: 0;
}

form .tbl-contact dl dt em {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: normal;
    width: 50px;
    height: 30px;
    line-height: 1;
    border-radius: 3px;
}

form .tbl-contact dl dt .ttl {
    letter-spacing: 0.1em;
    padding: 0 !important;
    width: calc(100% - 55px);
    letter-spacing: 0;
}

form .tbl-contact dl dd {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    padding-right: 20px;
    background-color: #fff;
    height: 100%;
    padding-left: 50px;
}

form .tbl-contact dl .list-radio1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

form .tbl-contact dl .list-radio1 li {
    display: inline-block;
    margin: 3px 0;
    min-width: 250px;
    width: calc((100% - 20px) / 3);
}

form .tbl-contact dl .list-radio1 li input {
    margin-right: 10px;
}

form .tbl-contact dl .list-radio1 li.last {
    width: 100%;
}

form .tbl-contact dl .list-radio1 li.last .radio-item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

form .tbl-contact dl .list-radio1 li.last .ip-forOther {
    width: calc(100% - 100px);
}

form .tbl-contact dl.first {
    border-top: 1px solid #D2D2D2;
}

form .tbl-contact dl.first dt::before {
    content: '';
    border-top: 1px solid var(--c-primary);
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
}

form .tbl-contact .list-radio2 > *:not(:last-child) {
    margin-bottom: 20px;
}

form .tbl-contact .list-radio2 .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

form .tbl-contact .list-radio2 .txt-confirm {
    margin-bottom: 10px;
    margin-top: 20px;
}

form .tbl-contact .file-upload {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

form .tbl-contact #txt_file {
    cursor: pointer;
}

form .tbl-contact #filename {
    display: none;
}

form .tbl-contact input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #999999;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "Yu Gothic", 'Noto Sans JP', "ヒラギノ角ゴシック ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 14px;
    height: 35px;
    letter-spacing: 1px;
    padding: 2px 20px;
    width: 100%;
}

form .tbl-contact input[type="text"]:focus {
    border: 1px solid #000000;
    outline: none;
}

form .tbl-contact input[type="email"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #999999;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "Yu Gothic", 'Noto Sans JP', "ヒラギノ角ゴシック ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 14px;
    height: 35px;
    letter-spacing: 1px;
    padding: 2px 20px;
    width: 100%;
}

form .tbl-contact input[type="email"]:focus {
    border: 1px solid #000000;
    outline: none;
}

form .tbl-contact input[type="tel"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #999999;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "Yu Gothic", 'Noto Sans JP', "ヒラギノ角ゴシック ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 14px;
    height: 35px;
    letter-spacing: 1px;
    padding: 2px 20px;
    width: 100%;
}

form .tbl-contact input[type="tel"]:focus {
    border: 1px solid #000000;
    outline: none;
}

form .tbl-contact input[type="text"].size1 {
    width: 65%;
}

form .tbl-contact input[type="email"].size1 {
    width: 65%;
}

form .tbl-contact input[type="tel"].size1 {
    width: 65%;
}

form .tbl-contact input[type="text"].size2 {
    width: 33%;
}

form .tbl-contact input[type="email"].size2 {
    width: 33%;
}

form .tbl-contact input[type="tel"].size2 {
    width: 33%;
}

form .tbl-contact .box-select {
    border: 1px solid #999999;
    display: inline-block;
    margin-left: 6px;
    position: relative;
    vertical-align: middle;
    width: 260px;
}

form .tbl-contact .box-select:after {
    background-size: 14px 6px;
    color: #000;
    content: "▼";
    font-size: 12px;
    margin-top: -3px;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-35%);
    transform: translateY(-35%);
    pointer-events: none;
}

form .tbl-contact select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #999999;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: var(--fnt-main);
    font-size: 14px;
    height: 35px;
    letter-spacing: 1px;
    outline: none;
    padding: 2px 20px 2px 10px;
    width: 100%;
    background: none;
}

form .tbl-contact select:focus {
    border: 0;
    outline: none;
}

form .tbl-contact select::-ms-expand {
    display: none;
}

form .tbl-contact textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #999999;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "Yu Gothic", 'Noto Sans JP', "ヒラギノ角ゴシック ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 14px;
    height: 145px;
    padding: 9px 20px;
    resize: none;
    width: 100%;
}

form .tbl-contact textarea:focus {
    border: 1px solid #4f382a;
    outline: none;
}

form .tbl-contact .txt-add1 {
    margin: 6px 0 1px 4px;
}

form .tbl-contact .ex1 {
    margin-left: 15px;
}

form .tbl-contact .note01 {
    margin-top: 5px;
}

form .tbl-contact .zip_code {
    margin-bottom: 13px;
}

form .tbl-contact .zip_code input {
    margin-left: 7px;
}

form .tbl-contact .radio-other {
    margin-top: -4px;
}

form .tbl-contact .radio-other .radio-item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 1;
    vertical-align: middle;
}

form .tbl-contact .radio-other .ip-forOther {
    width: calc(100% - 90px);
}

form .consent_txt {
    line-height: 2;
    text-align: center;
}

form .form-btn-block {
    margin-top: 30px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

form .form-btn {
    display: block;
    border-radius: 999px;
    background: var(--bg-linear);
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: #53b5ed;
    font-weight: 700;
    text-align: center;
    font-size: 24px;
}

form .form-btn::after {
    content: '';
    background-color: #fff;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    position: absolute;
    border-radius: 999px;
    z-index: -1;
    -webkit-transition: .3s;
    transition: .3s;
}

form .form-btn input {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;
    color: #53b5ed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    padding-right: 30px;
    text-transform: uppercase;
    font-size: 24px;
    width: 100%;
    height: 100%;
    padding: 15px;
    font-family: 'Noto Sans JP', "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴシック ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

form .form-btn:hover {
    color: #fff;
}

form .form-btn:hover::after {
    opacity: .8;
}

.mb0 {
    margin-bottom: 0 !important;
}

#pp {
    padding-top: 100px;
    padding-bottom: 100px;
}

#pp a {
    color: #3c97ad;
}

#pp .list {
    background-color: #F5F5F5;
    padding: 20px 20px 20px 60px;
    margin-bottom: 30px;
}

#pp .list li {
    list-style: disc;
}

@media (max-width: 767px) {
    #pp {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.blue-clr {
    color: #0060ff;
}

.w100p {
    width: 100%;
}

.col-3 > * {
    width: 33%;
}

.w100 {
    width: 100px !important;
}

.fz80p {
    font-size: 80%;
}

@media screen and (max-width: 767px) {
    input {
        font-size: 16px;
    }

    form .tbl-contact dl {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    form .tbl-contact dl .list-radio1 li {
        width: 100%;
    }

    form .tbl-contact dl:first-child dd {
        border-top: none;
    }

    form .tbl-contact dl > * {
        padding: 10px 0 !important;
    }

    form .tbl-contact dl dt {
        width: 100%;
        border-bottom: none;
        border-right: none;
    }

    form .tbl-contact dl dt::before, form .tbl-contact dl dt::after {
        display: none;
    }

    form .tbl-contact dl dt .ttl {
        text-align: left;
    }

    form .tbl-contact dl dd {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    form .tbl-contact dl dd .size2 {
        width: 55% !important;
    }

    form .tbl-contact input[type="text"].size1 {
        width: 100%;
    }

    form .tbl-contact input[type="email"].size1 {
        width: 100%;
    }

    form .tbl-contact input[type="tel"].size1 {
        width: 100%;
    }

    form .tbl-contact input[type="text"].size2 {
        width: 100%;
    }

    form .tbl-contact input[type="email"].size2 {
        width: 100%;
    }

    form .tbl-contact input[type="tel"].size2 {
        width: 100%;
    }

    form .tbl-contact input[type="text"] {
        padding: 2px 10px;
    }

    form .tbl-contact input[type="email"] {
        padding: 2px 10px;
    }

    form .tbl-contact input[type="tel"] {
        padding: 2px 10px;
    }

    form .tbl-contact .box-select {
        width: 100% !important;
        margin-left: 0 !important;
        margin-bottom: 10px;
    }

    form .tbl-contact .zip_code {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    form .tbl-contact .zip_code input {
        margin-left: 0;
        width: calc(100% - 30px) !important;
    }

    form .form-btn {
        max-width: 100%;
    }

    form .form-btn input {
        font-size: 18px;
        padding: 16px 0;
    }

    .confirm form .form-btn-block .backhis {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 420px) {
    form .tbl-contact {
        margin-bottom: 30px;
    }

    form .tbl-contact dl .list-radio1 li.last .radio-item {
        display: block;
    }

    form .tbl-contact dl .list-radio1 li.last .ip-forOther {
        width: 100%;
        margin-top: 5px;
    }

    form .tbl-contact dl dd .size2 {
        width: 100% !important;
    }
}

@media screen and (min-width: 768px) {
    .confirm form .form-btn-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@media screen and (min-width: 0\0
) and (-webkit-min-device-pixel-ratio: 0.75) {
    form .last .radio-item input[type="radio"] + label {
        margin-left: -25px;
    }
}

@media screen and (min-width: 0\0
) and (-webkit-min-device-pixel-ratio: 0.75), screen and (min-width: 0\0
) and (min-resolution: 72dpi) {
    form .last .radio-item input[type="radio"] + label {
        margin-left: -25px;
    }
}

.error {
    color: #FF0000;
}

form .submit_btn_confirm {
    background: #A4A4A4;
    color: #A4A4A4;
}

form .submit_btn_confirm input {
    color: #A4A4A4;
}

/*# sourceMappingURL=form.css.map */
